@import '../styles/variables.scss';

.main{
    background-color: $color-background;
    z-index: 99;
    .headerNav{
        font-weight: 500;
        font-size: 32px;
        font-family: oswald;
        line-height: 21px;
        background-color: $color-background;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        a{
        color: $color-main;
        transition: 0.3s;
        }
        a:hover{
        color: $color-main-hover;
        }
    }
    .burger{
        display: none;
        color: $color-main;
        font-size: 32px;
        padding: 20px;
        cursor: pointer;
        position: relative;
        left: 0;
        transition: 0.3s;
    }
    .burger:hover{
        color: $color-main-hover;
    }
    .xmark{
        display: none;
        color: $color-main;
        font-size: 42px;
        padding: 20px;
        cursor: pointer;
        position: relative;
        left: 0;
        z-index: 10;
        transition: 0.3s;
    }
    .xmark:hover{
        color: $color-main-hover;
    }
}
@media screen and (max-width: $breakpoint-m) {
    .main{
        .headerNav{
            position: absolute;
            transform: translateX(-100%);
            display: flex;
            flex-direction: column;
            text-align: left;
            a{
                margin-bottom: 10px;
                padding-bottom: 20px;
            }
        }
        .burger{
            display: block;
        }
        &.open{
            .burger{
                display: none;
                transition: .5s;
            }
            .xmark{
                display: block;
            }
            .headerNav{
                position: relative;
                transform: translateX(0);
                transition: .5s;
            }
        }
    }
}
@media screen and (min-width: $breakpoint-m) {
    .main{
        .headerNav{
            a{
                padding: 30px;
            }
        }
    }
}