$breakpoint-sm: 768px;
$breakpoint-m: 1024px;
$breakpoint-w: 1366px;
$breakpoint-l: 1920px;
 
$color-primary: #1a61ff;
$color-primary-hover:#0048E5;
$color-background: rgb(35,35,35);
$color-main: goldenrod;
$color-main-hover: gold;
$color-white: white;